.row{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.xs-col-1{
    width: calc((100% / 12) * 1);
    max-width: calc((100% / 12) * 1);
}

.xs-col-2{
    width: calc((100% / 12) * 2);
    max-width: calc((100% / 12) * 2);
}

.xs-col-3{
    width: calc((100% / 12) * 3);
    max-width: calc((100% / 12) * 3);
}

.xs-col-4{
    width: calc((100% / 12) * 4);
    max-width: calc((100% / 12) * 4);
}

.xs-col-5{
    width: calc((100% / 12) * 5);
    max-width: calc((100% / 12) * 5);
}

.xs-col-6{
    width: calc((100% / 12) * 6);
    max-width: calc((100% / 12) * 6);
}

.xs-col-7{
    width: calc((100% / 12) * 7);
    max-width: calc((100% / 12) * 7);
}

.xs-col-8{
    width: calc((100% / 12) * 8);
    max-width: calc((100% / 12) * 8);
}

.xs-col-9{
    width: calc((100% / 12) * 9);
    max-width: calc((100% / 12) * 9);
}

.xs-col-10{
    width: calc((100% / 12) * 10);
    max-width: calc((100% / 12) * 10);
}

.xs-col-11{
    width: calc((100% / 12) * 11);
    max-width: calc((100% / 12) * 11);
}

.xs-col-12{
    width: calc((100% / 12) * 12);
    max-width: calc((100% / 12) * 12);
}