*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    max-width: 1170px;
    margin: 0 auto;
}

.box{
    min-height: 150px;
    background-color: pink;
    border: 1px solid black;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nested-box{
    min-height: 150px;
    background-color: palevioletred;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}